<!-- posts/follow.html -->
{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Посты моих авторов{% endblock %}
{% block content %}
  <div class="container py-1">
    <h1>Последние обновления постов моих авторов</h1>
      {% include "includes/switcher.html" %}
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
            <a href="{% url 'posts:profile' post.author.username %}">все посты автора</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
          </ul>
          {% thumbnail post.image "1200x500" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
          {% endthumbnail %}
          <p>{{ post.text|linebreaksbr }}</p>
          <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a><br>
          {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}">
              все записи группы
            </a>
          {% else %}
            <p><span style="color:blue">данный пост не входит ни в одну из существующих групп</span></p>
          {% endif %}
          {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
      {% include "includes/paginator.html" %}
  </div>  
{% endblock %}